<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="JobLoggerConfigurableModule" type="JobLogger.ConfigurationLoggger, JobLogger"/>
	</configSections>
 
 <JobLoggerConfigurableModule  level="Message" >
		<Loggertype Type="Console" KeySource="" />
	</JobLoggerConfigurableModule>
	
	

	<!-- Optionally other configurationLoggger -->
</configuration>