<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="JobLoggerConfigurableModule" type="JobLogger.ConfigurationLoggger, JobLogger"/>
	</configSections>
 
 <JobLoggerConfigurableModule  level="Message" >
		<Loggertype Type="DataBase" KeySource="Database=CorpApps;Server=VSACH\INACH;user id=CorpApps_VSACH;password=&amp;RedRoses?;" />
	</JobLoggerConfigurableModule>
	
	

	<!-- Optionally other configurationLoggger -->
</configuration>